html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

#headerDiv{
    width:100%;
    background-color: black;
    color: white;
}

#lastSavedDiv{
    width:100%;
    background-color: gray;
    color: white;
}