
#headerDiv{
    width:100%;
    height: 30;
    background-color: black;
    color: white;
    text-indent: 10;
}

#lastSavedDiv{
    width:100%;
    height: 30;
    background-color: gray;
    color: white;
    text-indent: 10;
    margin-top: 0;
}

#numberCircleDiv{
    position: relative;
    margin-top: 20px;
}

#resetButton{
    position: relative;
    margin-top: 20px;
}